# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = smallketchup82
	email = {{ .email }}
	signingkey = {{ .signingkey }}
[core]
	editor = nvim
[commit]
	gpgSign = true
[tag]
	gpgSign = true
[pull]
	rebase = true
